body{
    background-color:black;
    color: #f6f6f6;
    font-family: Krona One, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.titulo-destaque{
    color: #22DAFD
}
a {
    background-color: white;
    color: DodgerBlue;

}
.texto-destaque{
    color: #22DAFD;
    font-size: 1.2em;
    font-weight: bold;
}
.img-destaque{
    max-width: 100%;
    padding: 5%;
    height: auto;
}
.h1-destaque
{
    font-size: 2em;
    font-weight: bold;
    padding: 1%;
}
.p-destaque{
    font-size: 1.2em;
    font-weight: bold;
    padding: 1%;
}